#containerIntro h1,
#containerIntro h2,
#containerIntro p {
    display: inline-block;
}

td {
    background-color: #7253ed1c;
  }

video {
    min-width: 30%;
    max-width: 80%;
    height: auto;
}